

:root {
    --Nepal: #146356;
    --Clairvoyant: #ECB365;
    --White: #F2F3F4;
    --grey: #04293A;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main{
    min-height: 100%;
}

header {
    position: absolute;
    z-index: 1;
    top: 0;
    width: 112%;
    height: 75px;
    background-color: var(--grey);
  }

  .pagetitle{
      position: relative;
      color: var(--grey);
      background-color: var(--Nepal);
      height: 50px;
      margin: 1% 1%;
      text-align: left;
      z-index: 1;
    }
.name{
    font-size: 1vw;
    height: 15px;
    padding: 5% 4px 5% 1px;
}
    h2{
        position:static ;
        width: 30%;
        height: 77%;
        text-align: center;
        margin: -3% 57%;
        z-index: 5;
        padding: 0% 0%;
    }

    h2 a{
        position: relative;
        z-index: 5;
        color: var(--Nepal);
        font-size: 2vw;


    }

    a:link {
        color: var(--Nepal);
    }
    
    a:hover{
        color: var(--Clairvoyant)
    }

    .skyline{
        position: relative;
        top: 74px;
        object-fit: cover;
        object-position: 50% 50%;
        width: 112%;
        height: 300px;
        z-index: 1;
    }

    .profile-picture{
        object-fit: cover;
        height: 15vw;
        float: left;
        margin: -6% 0%;
        
    }

    h3{
        position: absolute;
        top: 265px;
        right: 50px;
        background-color: var(--Nepal);
        height: 50px;
        padding:10px 30px;
        z-index: 2;
        font-size: 3vw;
        display: inline-block;
        white-space: nowrap;
        color:var(--grey);
        
    }

    #about-me{
        
        border:5px groove var(--Nepal);
        position: relative;
        z-index: 6;
        margin: 5% 0%;
        font-size: 2vw;
        color: var(--Nepal);
        width: 100%;
        background-image: linear-gradient(
            rgba(6, 70, 99, 0.3) 0%,
            rgba(6, 70, 99, 0.6) 100%
        );
        white-space:pre-line ;
        text-align: center;
    }

    body{
        background-color: rgb(255, 255, 255);
    }

    #subtitle{
        text-decoration: underline;
        text-align: center;
    }

    #work{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        position: relative;
        top: 94%;
        z-index: 10;
        height: 600px;
    }

    .project{
        flex: 3 1 200px;
        justify-content: space-between;
        border: 3px groove var(--Nepal);
        border-radius: 2px;
    }

     

    .project img{
        width:100%;
        height: 100%;
        min-width: 50px;
        object-fit: cover;
        text-align: center;
    }

    .project a{
        object-fit: fill;
    }

   .project h4{
        background-color: var(--Nepal);
        color: var(--White);
        border-radius: 15px;
        line-height: 15px;
        text-align: center;
        font-size: 2vw;
        padding-bottom: 10px;
    }

    .break{
        flex-basis: 100%;
        height: 0;
    }



    #contact-me{
        display: flex;
        width: 100%;
        border:5px groove var(--Clairvoyant);
        position: relative;
        margin: 12px;
    }

    #contact-me div{
        text-align: center;
        background-color: var(--Nepal);
        flex: 1 1 200px;
    }

    #contact-me a:hover{
        color: var(--Clairvoyant);
    }

    #contact-me a{
        padding: 0 10px;
        color: var(--White);
    }

    #contact-me h4{
        color: var(--White)
    }
    

@media only screen and (min-width:320px) {
    .name{
        font-size: 4vw;
    }
    a{
        font-size: 5vw;
    }
    h2{
        margin: -12% 58%;
    }
    .pagetitle{
        width: 110px;
        padding: 2%;
    }

    h3{
        font-size: 4vw;
        margin:6% -10%;
    }
    #about-me{
        margin:22% 0 0 0;
    }
    .project{
        flex-direction: column;
        flex: 1 1 200px;
        margin: 4%;
    }
    .project h4{
        font-size:4vw ;
        padding: 1% 0;
        margin: auto;
    }
    #contact-me{
        position: relative;
        flex-direction: column;
        flex: 1 1 200px;
    }
    
}

@media only screen and (min-width:768px) {
    .name{
        font-size: 2vw;
    }
    a{
        font-size: 2vw;
    }
    h2{
        margin: -4% 59%;
    }
    .pagetitle{
        width: 250px;
        padding: 0%;
    }
    h3{
        padding: 14px 2px;
        margin: 4% -4%;
    }
    #about-me{
        margin: 9% 0 0 0;
    }
    .project{
        flex-direction: row;
        flex: 1 1 400px;
    }
    #contact-me{
    }
   
}

@media only screen and (min-width:1080px){
    h2{
        margin: -3% 57%;
    }
    
    h3{
        padding:5px 2px;
        margin: 0%;
        font-size: 2vw;
    }

    .pagetitle{
        padding: 0% 15px 0% 0px;
    }
    #about-me{
        margin:5% 0 0 0  ;
    }
    .project{
        flex-direction: row;
        flex: .5 1 250px;
        margin: 18px;
    }
    .highlight{
        flex-basis: 100%;
    }
    .project h4{
        font-size: 25px;
    }
    .project:nth-of-type(1){
        flex-basis: 400px;
    }
    #contact-me{
    }
    .name{
        white-space: nowrap;
    }

}
